body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: center;
}   

.container {
    background-color: aliceblue;
    max-width: 600px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    align-items:center;
}

.formulario {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
td,tr {
    border: 1px solid #b8bcc2;
    padding: 5px
    
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

button {
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}
button:hover {
    color: aqua;
    transform: scale(1.1);
    transition: color 0.5s ease-in-out, transform 0.8s ease-in-out;
}


